@import '../../styles//variable.scss';
.process {
    margin: 100px 0;
    .process-head {
        font-weight: 600;
        color: $heading-color;
    }
    .process-item {
        margin: 15px 0;
        .process-heading {
            display: flex;
            align-items: center;
            gap:  0 10px;
            
            .process-title{
                color:$color-subheading;
                font-weight: 600;
            }
        }
        .process-des {
            color: $color-text;
        }
    }
    .step {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
        
    }
}