.todo {
    margin: 10px 0;
  }
  
  .todo .todo1 {
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
    padding: 16px;
    display: flex;
    justify-content: flex-start;
  }
  
  .todo .todo1 .todo2 {
    font-size: 16px;
    line-height: 24px;
    color: #333;
    margin-left: 200px;
  }
  
  .todo .todo1 .todo2 span {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
  }
  .todo .todo1 .todo2 span.spanSex {
    display: inline-block;
    vertical-align: middle;
    width: 40px;
  }

  .todo .todo1 .todo2 .edit-container {
    display: flex;
    flex-direction: column;
  }
  
  .todo .todo1 .todo2 .edit {
    display: inline-block;
    border: none;
    background-color: transparent;
    color: #4CAF50;
    cursor: pointer;
    text-decoration: underline;
    vertical-align: middle;
    margin-left: 300px;
    text-align: center;
  }
  
  .todo .todo1 .todo2 .edit-block {
    display: block;
    text-align: center;
  }
  
  
  
  legend {
    font-size: 24px;
    font-weight: bold;
    color: #4CAF50;
  }
  
  .todo1 > div:first-child {
    margin-right: 3px; /* Optional: add some spacing between the avatar and the user information */
  }
  /* .todo1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  } */
  
  button.save {
    margin-top: 10px;
    padding: 10px;
  }
  
  .avatar{
   
    width: 200px;
    height: 200px;
  }
  

