.header-nav {
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
        height: 50px;
    }
    .navigation {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0 30px;
        a {
            text-decoration: none;
            color: #000;
            font-weight: 600;
            transition: all 0.5s ease-out;
            position: relative;
            &::after {
                    position: absolute;
                    bottom: -5px;
                    left: 0;
                    right: 0;
                    margin: auto;
                    width: 0%;
                    content: '';
                    color: transparent;
                    background: #fa8d22;
                    height: 2px;
                }
            
                &:hover::after {
                    cursor: pointer;
                    width: 50%;
                }
            &:hover {
                color: #fa8d22;
            }
        }
        .active {
            color: #fa8d22 !important;
            &::after {
                    position: absolute;
                        bottom: -5px;
                        left: 0;
                        right: 0;
                        margin: auto;
                        width: 50%;
                        content: '';
                        color: transparent;
                        background: #fa8d22;
                        height: 2px;
                }
        }
    }
    .auth-action {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0 30px;
        .btn-text {
            color: #fa8d22;
            &:hover {
                background-color: transparent;
            }
        }
    }
}






/* mobile view */
.mobile{
    display: flex;
    flex-direction: column;
    align-items: center;
    .logo {
            height: 50px;
            margin-top: 30px;
        }
    .mobile-navigation {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px 0;
            a {
                text-decoration: none;
                color: #000;
                font-weight: 600;
                &:hover {
                    color: #fa8d22;
                }
            }
            .active {
                color: #fa8d22 !important;
            }
    }
        .auth-action {
            margin: 30px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px 0;
                .btn-text {
                    color: #fa8d22;
                    &:hover {
                        background-color: transparent;
                    }
                }
        }
}
