@import "../../styles/variable.scss";
.footer {
  background: #eeeeee;
  .footer-content {
    padding: 50px 0;
    .logo {
      width: 70%;
      padding-bottom: 50px;
    }
    .footer-heading {
      font-weight: 600;
      color: $color-prymary;
    }
    .footer-link {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 15px 0;
      a {
        color: $color-text;
        transition: 0.5;
        &:hover {
          color: $color-prymary;
        }
      }
    }
  }
}
