@import '../../styles/variable.scss';
.commit {
    margin-top: 100px;
    .commit-head{
        font-weight: 600;
        color: $heading-color;
    }
    .commit-item {
        box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
        height: 100%;
        background-color: #fff;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
 
        .commit-img {
            overflow: hidden;
            flex-shrink: 0;
            img{
                height: 100%;
                object-fit: contain;
            }
        }
        .commit-content {
            flex: 1;
            .commit-title {
                color: $color-subheading;
                font-weight: 600;  
            }
            .commit-des {
                color: $color-text;
                text-align: justify;
            }
        }
    }
}